/* single page  */
:root {
    --cf-dark-color: #25282b;
    --cf-light-color: #dedede;
    --cf-light-grey: #7a7a7a;
    --cf-title-color: #636363;
    --cf-light-color: #FFF;
    --cf-subtitle-color: #808487;
    --cf-green-color: #197C82;
    --cf-grey-icon-color: #F1F1F1;
    --cf-navicon-color: #808487;
}

.smalimage img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: 12px;
    display: block;
    cursor: pointer;
    margin-right: 35%;
}

@media screen and (max-width: 992px) {
    .smalimage img {
        margin-right: 10%;
    }
}

.scrollBar {
    width: 120%;
    height: 500px;
    overflow-y: auto;
    /* width: 70px; */
}


.tile {
    text-decoration: none;
    font-size: medium;
    /* font-weight: 'Vazir'; */
    font-weight: 400;
    /* padding: 5px; */
    color: var(--cf-dark-color);
}

.tile:hover {
    color: var(--cf-dark-color);
}

.smalimage {
    margin-top: 50px;
}




.Tozihat a {
    text-decoration: none;
    color: var(--cf-green-color);
    font-family: 'anjoman';
    /* margin-right: 100px; */

}



.Side {
    margin-left: 10px;
    margin-top: 50px;
    height: 300px;
}


.Title {
    margin: 10px;
    text-decoration: none;
    font-size: large;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.Titleontop {
    margin: 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.Titleontop:hover {
    color: var(--cf-title-color);
}

.Price {
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
    font-weight: 400;
    font-size: 14px;
}

.Price:hover {
    color: var(--cf-dark-color);
}

.Title:hover {
    color: var(--cf-title-color);
}

.subtitle {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    /* font-size: medium; */
    color: var(--cf-subtitle-color);
    font-family: 'anjoman';

}

.figmafont {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    /* font-size: medium; */
    color: var(--cf-subtitle-color);
    font-family: 'anjoman';
}

.figmafont:hover {
    color: var(--cf-subtitle-color);
}

.subtitle:hover {
    color: var(--cf-subtitle-color);
}

.mediumtitle {
    text-decoration: none;
    font-size: small;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.mediumtitle:hover {
    color: var(--cf-title-color);
}



.btn {
    /* width: 90px; */
    /* margin-right: 40px; */
    /* margin-bottom: 30px; */
    /* margin-top: 20px; */
    border-radius: 10px;
    background-color: var(--cf-green-color);
    color: var(--cf-light-color);
}






.daftar_text {
    text-decoration: none;
    font-size: medium;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.daftar_text:hover {
    color: var(--cf-title-color);
}



.arrow img {
    width: 100px;
}

.text-secondary {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 9999;
}


.slugs {
    position: relative;
    right: 50%;
    top: 30%;
    z-index: 9999;
}

.range {
    height: 80px;
    width: 100%;
    position: absolute;
    display: block;
    justify-content: center;
    margin-top: 4%;
    /* background-color: var(--cf-light-color); */
}

.checking{
    margin: 5px 20px;
    list-style: none;
    position: relative;
}

.checking li {
    transform: rotate(90deg);
    color: var(--cf-title-color);
    font-size: 14px;
    font-family: 'anjomanLight';
    display: inline-block;
    margin: 15px 35px 15px 10px;
}

@media screen and (max-width: 576px) {
    .checking li {
        margin: 15px 10px 1px 10px;
    }
    
}

@media screen and (max-width: 992px) {
    .checking li {
        margin: 15px 10px 1px 10px;
    }
    
    .range-txt {
        color: var(--cf-title-color);
        font-size: 12px;
        font-family: 'anjomanLight';
    }

    .text-secondary {
        position: absolute;
        left: 50%;
        top: 70%;
        z-index: 9999;
    }

    .range {
        height: 80px;
        width: 100%;
        position: absolute;
        display: block;
        left: 5%;
        justify-content: center;
        margin-top: 7%;
    }
}

.reng_box {
    position: relative;
    /* width: 694px; */
    min-height: 143px;
    max-height: 300px;
    border-radius: 10px;
    border: 1px solid var(--cf-grey-icon-color);
}

.slideimage {
    position: relative;
    margin-right: 20px;
}

.range .field {
    position: relative;
    /* display: flex; */
    align-items: center;
    top: 20px;
    right: 55px;
    justify-content: center;
    height: 100%;
}

.range .field .value {
    position: absolute;
    font-size: 18px;
    /* color: #1b53c0; */
}

.range .sliderValue {
    position: relative;
    width: 100%;
}


.texts {
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
    font-weight: 400;
    font-size: 16px;
}

.texts:hover {
    color: var(--cf-dark-color);
}

.box_tozihat {
    width: 95%;
    position: relative;
    height: auto;
    min-height: 150px;
    max-height: 700px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
}

@media screen and (max-width: 992px) {
    .box_tozihat {
        width: 100%;
        position: relative;
        height: auto;
        min-height: 150px;
        max-height: 700px;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
    }
}

.mappingg {
    left: 10px;
    border-radius: 10px;
    height: 300px;
    width: 95%;
    position: relative;
    top: 20px;
}

@media screen and (max-width: 992px) {
    .mappingg {
        right: 20px;
        border-radius: 10px;
        height: 300px;
        width: 95%;
        position: relative;
        top: 20px;
    }
}

/* .range .sliderValue span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: #1b53c0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

} */

.modal-phone{
    position: absolute;
    background-color: var(--cf-light-color);
    opacity: 1;
    border-radius: 15px;
    top: 60px;
    right: 10px;
    padding: 5px;
    border: 1px solid #dadada;
    width: 100% !important;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1111111;
    width: 100%;
    left: 50%;
    top: 40%;
    height: 80%;
    overflow: auto;


}

/* Modal Content */
.modal-content {
    background-color: var(--cf-light-color);
    opacity: 1;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    right: 25%;
    top: 0;
    position: fixed;
    border: 1px solid #dadada;
    width: 50% !important;
}

.modal-content-index {
    background-color: var(--cf-light-color);
    opacity: 1;
    border-radius: 15px;
    padding: 5px;
    right: 70%;
    top: 50vh;
    position: fixed;
    border: 1px solid #dadada;
    width: 20% !important;
}

.modal-content p {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* The Close Button */
.close {
    position: absolute;
    cursor: pointer;
    color: #aaaaaa;
    background: white;
    border: none;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}


.range .field input {
    -webkit-appearance: none;
    height: 40px;
    position: absolute;
    bottom: 60px;
    width: 77%;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: none;
}


.range .field img {
    position: relative;
    right: 10%;
    width: 75%;
}



.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    position: relative;
    top: -20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: #1b53c0;
    border: 1px solid #1b53c0;
    cursor: pointer;
}



.box-title {
    padding: 10px;
    height: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
}

@media screen and (max-width: 992px) {
    .box-title {
        position: relative;
        right: 9%;
        padding: 10px;
        height: auto;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
    }
}

.box-title a {
    position: relative;
    top: 10px;
}

.box_daftar {
    position: relative;
    top: 10px;
    left: 2%;
    width: 95%;
    height: 74px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .box_daftar {
        position: relative;
        top: 10px;
        width: 93%;
        right: 6%;
        height: 74px;
        border-radius: 10px;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
        padding: 20px;
    }
}

.box_warning {
    position: relative;
    width: 95%;
    height: 74px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .box_warning {
        position: relative;
        width: 98%;
        height: 74px;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
        padding: 20px;
    }
}

.Tozihat {
    /* padding: 10px; */
    position: relative;
    /* width: 93%; */
    /* left: 7%; */
}



.box_moshakhasat {
    position: relative;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cf-grey-icon-color);
}

@media screen and (max-width: 992px) {
    .box_moshakhasat {
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        /* top: 97px; */
    }
}

.borders {
    width: 95%;
    /* display: flex; */
    position: relative;
    top: 90px;
    right: 15px;
    justify-content: center;
    text-align: center;
    height: 0px;
    border: 1px solid var(--cf-grey-icon-color);
}

.bordersss {
    border: 1px solid var(--cf-grey-icon-color);

}

.title-cart {
    color: var(--cf-green-color);
    font-size: 16px;
    font-family: 'anjoman';
}



.Box-Tozihat {
    position: relative;
    /* right: 1%; */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    /* right: 15%; */
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
    /* background-color: var(--cf-light-grey); */
}

@media screen and (max-width: 992px) {
    .Box-Tozihat {
        position: relative;
        /* right: 1%; */
        padding: 10px;
        width: 100%;
        min-height: 200px;
        /* right: 15%; */
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
        box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
    }
}

@media screen and (max-width: 992px) {
    .borders {
        position: relative;
        top: 97px;
    }
}

.hiding {
    position: absolute;
    cursor: pointer;
    color: #aaaaaa;
    background: white;
    border: none;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.spacing {
    padding: 20px;
}

.Moshabe {
    text-align: start;
}

.Moshabe #moshabeIcon {
    text-align: end;
    float: left;
}

.daftar_textt {
    float: left;
    position: relative;
    top: 2px;
    text-decoration: none;
    font-size: small;
    color: var(--cf-subtitle-color);
    font-family: 'anjoman';
}

.daftar_textt:hover {
    color: var(--cf-subtitle-color);
}

.detailicons {
    position: relative;
    right: 15%;
}


.boxdetailes {
    margin-top: 15px;
    position: relative;
}

.box-title .lineee {
    width: 95%;
    /* display: flex; */
    position: relative;
    top: 5px;
    right: 15px;
    justify-content: center;
    text-align: center;
    height: 0px;
    border: 1px solid var(--cf-grey-icon-color);
}

.z-index-10 {
    z-index: 10 !important;
}

.z-index-1000 {
    z-index: 10000 !important;
}

.btn {
    float: left;
}

.btn:hover {
    color: var(--cf-light-color);
    background-color: var(--cf-green-color);
}

.mainimages {
    position: relative;
    width: 100%;
    background-position: center;
    height: 450px;
    border-radius: 10px;
    left: 20px;
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

.imageBoxe {
    /* border: 1px solid var(--cf-dark-color); */
    width: 100%;
}

.prodict-image {
    position: relative;
    width: 50%;
    background-position: center;
    height: 100px;
    border-radius: 10px;
    /* left: 20px; */
    background-attachment: fixed;
    background-size: cover;
}

.cartImage {
    position: relative;
    width: 100%;
    background-position: center;
    height: 200px;

    border-radius: 10px;
    /* left: 20px; */
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 992px) {
    .mainimages {
        position: relative;
        width: 100%;
        height: 450px;
        border-radius: 10px;
        left: 0px;
    }
}

.myimages {
    position: relative;
    left: 7%;
}

@media screen and (max-width: 992px) {
    .myimages {
        position: relative;
        left: 0%;
    }
}

.LogInModal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 220px;
    /* Location of the box */
    left: 0;
    top: 0;
    /* width: 50% !important; */
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */


}

/* Modal Content */
.Login-content {
    background-color: var(--cf-light-color);
    opacity: 1;
    border-radius: 10px;
    height: 55%;
    padding: 20px;
    right: 15%;
    position: fixed;
    z-index: 1111;
    border: 0.5px solid var(--cf-grey-icon-color);
    /* border: none; */
    width: 70% !important;
}

@media screen and (max-width: 992px) {
    .Login-content {
        background-color: var(--cf-light-color);
        opacity: 1;
        border-radius: 10px;
        height: 60%;
        padding: 20px;
        left: 0%;
        position: fixed;
        z-index: 1111;
        border: 0.5px solid var(--cf-grey-icon-color);
        /* border: none; */
        width: 100% !important;
    }
}

.maydetailes {
    background-color: white;
}

.lines {
    position: relative;
    top: 10px;
    border: 0.5px solid var(--cf-grey-icon-color);
}

.phonenm {
    text-decoration: none;
    color: var(--cf-dark-color);
}

.phonenm:hover {
    color: var(--cf-dark-color);
}

.FormNumber input {
    direction: rtl;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid var(--cf-grey-icon-color);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.FormPass input {
    direction: rtl;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid var(--cf-grey-icon-color);
    display: block;
    margin-right: auto;
    margin-left: auto;
}



/* .Tozihat{
    width: 693px;
    height: 177px;
    border-radius: 10px;
    position: relative;
    right: 7%;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
} */
/* end single page */

/* Strat profile page */

.liness {
    margin-top: 27px;
    border-left: 0.5px solid var(--cf-navicon-color);
    height: 100vh;
    transition: all ease-in-out 0 5s;
}

.dropdown-box {
    /* position: relative;
    background-color: var(--cf-light-color);
    z-index: 1111; */
    /* left: 10%; */
    overflow: hidden;
    width: 0px !important;
    transition: all ease-in-out 0.0s;
}

.navbar-profile {
    /* top: 20px; */
    right: 10px;
    position: relative;
    width: 20%;
    float: right;
    background-color: var(--cf-light-color);
    z-index: 11111;
}

@media screen and (max-width: 576px) {
    .modal-content-index {
        width: 100% !important;
        right: 0;
    }

    .modal-content {
        width: 100% !important;
        top: 0;
        right: 0;
    }

    .navbar-profile {
        position: relative;
        width: 100%;
        float: right;
    }
}

.mobil{
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .mobil {
        margin: 10px;

    }
}

.main-box {
    width: 80%;
    float: left;
}

.open-box {
    /* width: 100%; */
    padding: 10px;
    z-index: 11111;
    /* height: auto; */
    height: 100vh;
    position: fixed;
    overflow: scroll;
    right: 0;
    transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 992px) {
    .dropdown-box {
        left: 100%;
    }

}

@media screen and (max-width: 576px) {
    .open-box {
        position: relative;
        background-color: var(--cf-light-color);
        width: 100%;
        /* visibility: collapse; */
        transition: 1s;
    }

}


@media screen and (max-width: 992px) {
    .liness {
        border-left: none;
        position: relative;
        bottom: 50px;

    }
}


@media screen and (max-width: 576px) {
    .onMobile {
        position: relative;
        right: 6%;

    }
}

.title {
    font-size: 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}


.title:hover {
    color: var(--cf-dark-color);
}


.TitleText a {
    position: relative;
    right: 25px;
    text-decoration: none;
    /* color: var(--cf-green-color); */
}

.sub {
    text-decoration: none;
    color: var(--cf-subtitle-color);
    font-size: 15px;
    font-family: 'anjoman';
}

.sub:hover {
    color: var(--cf-subtitle-color);
}

.border {
    position: relative;
    top: 72px;
    width: 100%;
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    /* border: 0.5px solid var(--cf-navicon-color); */
}

.taghiratDaftar {
    font-size: medium;
    font-family: 'anjoman';
    color: var(--cf-green-color);
}

.taghiratDaftar:hover {
    color: var(--cf-green-color);
}

.mediumtxt {
    cursor: pointer;
    font-size: 14px;
    color: var(--cf-title-color);
    text-decoration: none;
    font-family: 'anjoman';
}

.mediumtxt:hover {
    color: var(--cf-title-color);
}

.mediumtxtes {
    font-size: 16px;
    color: var(--cf-dark-color);
    text-decoration: none;
    font-family: 'anjoman';
}

@media screen and (max-width: 576px) {
    .mediumtxtes {
        position: relative;
        margin: 10px;

    }
}

@media screen and (max-width: 576px) {
    .multyline {
        position: relative;
        margin: 10px;

    }
}

@media screen and (max-width: 576px) {
    .fishing {
        position: relative;
        margin: 10px;

    }
}

@media screen and (max-width: 576px) {
    .all-boxes {
        position: absolute;
        margin: 10px;

    }
}

.card1 {
    border-radius: 10px;
    width: 150px;
    margin-right: 140%;
    height: 75px;
    background-color: black;
}

.modalss {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 220px;
    /* Location of the box */
    left: 0;

    top: 0;
    /* width: 50% !important; */
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
}

.modal-my {
    background-color: var(--cf-light-color);
    opacity: 1;
    border-radius: 10px;
    height: 55%;
    padding: 20px;
    right: 15%;
    position: fixed;
    z-index: 1111;
    border: 0.5px solid var(--cf-grey-icon-color);
    /* border: none; */
    width: 70% !important;
    display: none;
}

.box-info {
    position: relative;
    /* right: 1%; */
    padding: 20px;
    /* right: 0%; */
    /* margin: 20px; */
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
    /* background-color: var(--cf-light-grey); */
}

@media screen and (max-width: 992px) {
    .box-info {
        position: relative;
        /* right: 1%; */
        padding: 20px;
        left: 11%;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
        box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
    }
}

.top-text {
    position: relative;
    top: 10px;
    right: 7%;
}

@media screen and (max-width: 992px) {
    .top-text {
        position: relative;
        top: 10px;
        right: 0%;
    }
}

.Sub-Cart {
    color: var(--cf-title-color);
    font-size: 14px;
    font-family: 'anjoman';
}

.maincart-Title {
    color: var(--cf-title-color);
    font-size: 16px;
    font-family: 'anjoman';
}

.cart-Tozihat {
    color: var(--cf-title-color);
    font-size: 16px;
    font-family: 'anjoman';
}

.box-cart {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 30px;
    max-height: 2000px;
    /* right: 10%; */
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    /* box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4); */
    /* background-color: var(--cf-light-grey); */
}

@media screen and (max-width: 576px) {
    .box-cart {
        margin: 12px;
        position: relative;
        width: 90%;
        min-height: 600px;
        max-height: 2000px;
        /* right: 10%; */
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
    }
}

.cartTitle {
    position: relative;
    text-decoration: none;
    bottom: 80px;
    left: 20px;
    display: block;
    text-align: start;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.cartTitle:hover {
    color: var(--cf-title-color);
}

.box-buttom {
    position: relative;
    /* left: 7%; */
    /* right: 15%; */
    padding: 10px;
    min-height: 200px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
    box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
}

@media screen and (max-width: 992px) {
    .box-buttom {
        position: relative;
        left: 11%;
        /* right: 15%; */
        padding: 10px;
        /* margin: 20px; */
        min-height: 200px;
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        border-color: var(--cf-grey-icon-color);
        box-shadow: 1px 2px 3px 4px rgba(252, 246, 246, 0.4);
    }
}

.hiding-box {
    position: sticky;
    height: 0px;
    overflow: hidden;
    border-radius: 20px;
    background: white;
    /* transform: rotatey(10deg); */
    visibility: initial;
    animation: spin 5s;
    top: 0;
    /* z-index: 1111; */
}

.show-box {
    position: sticky;
    height: auto;
    border-radius: 20px;
    /* transform: rotateY(-170deg) translateZ(1px); */
    transition: transform 5s ease;
    /* z-index: 1111; */
}

.topboxes {
    position: absolute;
    right: 20%;
}

@media screen and (max-width: 992px) {
    .topboxes {
        position: relative;
        right: 0%;
        /* margin: 10px; */
    }
}

/* .bento{
    position: relative;
    margin: 10px;
} */
.borderrs {
    position: relative;
    width: 100%;
    top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0.5px solid var(--cf-grey-icon-color)
}

.linese {
    position: relative;
    width: 100%;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0.5px solid var(--cf-grey-icon-color)
}

.lice {
    position: relative;
    display: block;
    text-align: start;
}

#roaunded {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    #roaunded {
        margin-right: 0px;
        margin-top: 10px;
    }
}

.styling {
    text-decoration: none;
    color: var(--cf-title-color);
    font-family: 'anjoman';
    font-size: 12px;
    display: block;
    text-align: center;
}

.styling:hover {
    color: var(--cf-title-color);
}

.greentxt {
    text-decoration: none;
    color: var(--cf-green-color);
    position: relative;
    top: 20px;
    font-size: 14px;
    display: block;
    text-align: start;
}

.greentxt:hover {
    color: var(--cf-green-color);
}

.wallettxt {
    cursor: pointer;
    text-decoration: none;
    color: var(--cf-title-color);
    font-family: 'anjoman';
    font-size: larger;
    position: relative;
    display: block;
    text-align: start;
}

.mabalegh {
    text-decoration: none;
    color: var(--cf-title-color);
    /* font-family: 'Vazir'; */
    font-size: 15px;
    font-family: 'anjoman';
}

.wallettxts {
    text-decoration: none;
    color: var(--cf-title-color);
    /* font-family: 'Vazir'; */
    font-size: 25px;
    position: relative;
    display: block;
    text-align: start;
}

.wallettxts-describtion {
    text-decoration: none;
    color: var(--cf-title-color);
    font-family: 'anjoman';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    display: block;
    text-align: start;
    padding: 10px;
}

.wallettxts-describtion:hover {
    color: var(--cf-title-color)
}

.wallettxtss {
    text-decoration: none;
    color: var(--cf-title-color);
    /* font-family: 'Vazir'; */
    font-size: 15px;
    position: relative;
    display: block;
    text-align: start;
}

.wallettxt:hover {
    color: var(--cf-title-color);
}

.info-box {
    position: absolute;
    width: 100%;
    /* display: flex; */
    right: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    /* justify-content: space-evenly; */
    top: 5%;
}

@media screen and (max-width: 992px) {
    .info-box {
        position: absolute;
        width: 100%;
        padding: 20px;
        right: 6%;
        /* justify-content: space-evenly; */
        top: 10%;
    }
}

.mainBoxess a {
    font-size: 18px;
}

.mainBoxess {
    position: absolute;
    text-align: start;
    justify-content: center;
    display: block;
    top: 30%;
}

.topBoxes {
    /* margin: 10px;
    padding: 10px; */
}

.form-check {
    position: relative;
    left: 3%;
}

.hover:hover {
    background-color: var(--cf-grey-icon-color);
    /* width: 200px; */
    border-radius: 5px;
    height: 30px;
    /* margin: 1px; */
}
.sidetext div:hover{
    background-color: var(--cf-grey-icon-color);
    /* width: 200px; */
    border-radius: 5px;
    width: 100%;
    /* height: 30px; */
}
.variz {
    font-size: 14px;
    text-decoration: none;
    font-family: 'anjoman';
    color: var(--cf-title-color);
}

.variz:hover {
    color: var(--cf-title-color);
}

@media screen and (max-width: 992px) {
    .spacings {
        position: relative;
        right: 5%;
    }
}

.hover a:hover {
    color: var(--cf-dark-color);
}



.myhomenger {
    font-family: 'anjoman';
    font-size: 20px;
}

.close {
    position: fixed;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

@media screen and (max-width: 992px) {
    .close {
        position: relative;
        /* bottom: 50%; */
        top: 0px;
        bottom: 30px;
        display: block;
        /* visibility: collapse; */
        /* left: 90%; */
        border: none;
        border-radius: 10px;
        background-color: transparent;
    }
}

@media screen and (min-width: 999px) {
    .close {
        display: none;
    }
}

.close {
    background-color: var(--cf-light-color);
    z-index: 1111;
}

.btnside {
    position: relative;
    bottom: 20px;
}

.clickBTN {
    margin-right: 150%;
    /* float: left; */
}

/* End profile page */


/* notifeAlert */
.notif {
    background: rgba(79, 224, 74, 0.7);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border: 1px solid rgba(79, 224, 74, 0.35);
    padding: 20px 35px 20px 25px;
    margin-top: 20px;
    max-width: 450px;
    max-height: 140px;
    border-radius: 10px;
    border-left: 8px solid green;
    bottom: 20px;
    left: 0;
    z-index: 11;
    position: fixed;
    overflow: hidden;
    transform: translateX(calc(20% + 10px));
    transition: all 0.5s ease-in-out 0.2s;
    animation: progress none 1s;

}

@keyframes progress {
    0% {
        left: -320px;
    }

    100% {
        left: 0px;
    }

}

.animate {
    animation: progress alternate 3s;
}

/* end notife Alert */



/* start cashWallet */
.box-information {
    position: relative;
    width: 50% !important;
    left: 25%;
    right: 50%;
    margin-top: 5%;
}

@media screen and (max-width: 992px) {
    .box-information {
        position: relative;
        width: 50% !important;
        left: 25%;
        right: 25%;
        margin-top: 5%;

    }
}

.card-money {
    position: relative;
    /* height: 130%; */
    left: 30%;
    /* background-color: var(--cf-light-grey); */
    border: 1px solid var(--cf-navicon-color);
    border-radius: 10px;
}

.box-number {
    width: 50%;
    background-color: var(--cf-navicon-color);
}

.tabbar-detailes {
    position: absolute;
    display: inline-block;
    text-align: center;
}

.btn-sabt {
    position: relative;
    right: 10%;
    top: 50%;
    padding: 10px;
    border-radius: 10px;
}

.changed {
    /* position: relative; */
    /* right: 20%; */
    top: 20%;
}

.navbar-box {
    position: relative;
}

.close-navbar {
    border: none;
    background-color: transparent;
    position: relative;
    /* bottom: 60px; */
    /* float: left; */
    border-radius: 15px;
}

#right-side{
    position: relative;
    /* float: left; */
    /* bottom: 80px; */
}

@media screen and (min-width: 576px) {
    .close-navbar {
        display: none;
        border: none;
        border-radius: 15px;

    }
}


.tarkoneshha {
    text-decoration: none;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.tarkoneshha:hover {
    color: var(--cf-title-color);
}

/* 
.tabbar-detailes a {
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
    position: relative;
    top: 20px;
    justify-content: center;
    font-size: 15px;
    left: 80%;
    text-align: center;
} */

.tab-Detaile a {
    position: relative;
    text-decoration: none;
    color: var(--cf-dark-color);
    top: 50px;
    left: 25%;
}

.btntext {
    color: var(--cf-light-color);
    font-family: 'anjoman';
    text-decoration: none;
}

.btntext:hover {
    color: var(--cf-light-color);
}

/* end cashwallet */

/* my Order */
.myOrder {
    position: relative;
    top: 50px;
    right: 50%;
}

@media screen and (max-width: 992px) {
    .myOrder {
        position: relative;
        top: 50px;
        right: 25%;

    }
}

.underline {
    position: relative;
    /* top: 150px; */
    left: 24%;
    border: 1px solid var(--cf-green-color);
}

.box-wall {
    border: 1px solid var(--cf-grey-icon-color);
    border-radius: 10px;
    padding: 20px;
}

/* 
@media screen and (max-width: 992px) {
    .underline {
        position: relative;
        left: 24%;
        top: 0px;
        bottom: 0px;
        right: 25%;

    }
} */

.forms input {
    direction: rtl;
    position: relative;
    top: 10px;
    /* left: 11%; */
    width: 100%;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid var(--cf-grey-icon-color);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.moving {
    position: absolute;
    top: 200px;
    right: 20%;
}

.shaba {
    position: relative;
    /* left: 20%; */
}

.text-shaba a {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: var(--cf-subtitle-color);
}

.form-check {
    position: relative;
    top: 10px;
    /* left: 25%; */
}

.tamas_btn {
    position: relative;
    padding: 10px;
}

.warn {
    position: relative;
    top: 140px;
}

.multyline {
    position: relative;
    top: 150px;
}

.multyline p {
    font-size: 14px;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

/* end Order */

/* myLicence */
.myLicence {
    position: relative;
    top: 30px;
    right: 50%;
}

.Licenes {
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
}

.Licenes:hover {
    color: var(--cf-dark-color);
}

/* End myLicence */

/* by licence */
.Box-Licence {
    position: relative;
    padding: 20px;
    min-height: 600px;
    max-height: 1100px;
    right: 20%;
    /* background-color: var(--cf-light-grey); */
    border: 1px solid var(--cf-navicon-color);
    border-radius: 10px;
}

.btn-pardakht {
    position: relative;
    top: 30%;
    right: 5%;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .Box-Licence {
        position: absolute;
        padding: 20px;
        width: 90%;
        top: 20%;
        min-height: 600px;
        max-height: 1100px;
        left: 6%;
        /* border: 1px solid var(--cf-navicon-color); */
        border-radius: 10px;

    }
}

.my-liness a:hover{
    color: var(--cf-navicon-color);
}

.buy-title {
    padding: 10px;
    text-decoration: none;
    color: var(--cf-green-color);
    font-family: 'anjoman';
    font-size: 20px;
}

.buy-title:hover {
    color: var(--cf-green-color);
}

.daftar-detailes {
    position: relative;
    top: 30px;
    text-decoration: none;
    color: var(--cf-title-color);
    font-size: 17px;
}

.prices a {
    position: relative;
    top: 80px;
    text-align: center;
    display: block;
    color: var(--cf-green-color);
    text-decoration: none;
    font-size: 30px;

}

.btn-outline-secondary {
    position: relative;
    top: 120px;
    right: 15%;
    background-color: transparent;
    border: 1px solid var(--cf-navicon-color);
    color: var(--cf-green-color);
}

.moda-boxes {
    background-color: var(--cf-light-color);
    opacity: 1;
    padding: 20px;
    /* display: none; */
    /* right: 3%; */
    border-radius: 10px;
    position: absolute;
    border: 0.5px solid var(--cf-grey-icon-color);
    /* border: none; */
    width: 100% !important;
    z-index: 1;
    left: 12px;
    top: 0px;

    height: 100%;
    overflow: auto;
}

.paying {
    background-color: var(--cf-light-color);
    opacity: 1;
    padding: 20px;
    /* display: none; */
    /* right: 3%; */
    border-radius: 10px;
    position: absolute;
    border: 0.5px solid var(--cf-grey-icon-color);
    /* border: none; */
    width: 35% !important;
    z-index: 1;
    left: 33%;
    right: 0;
    top: 10%;
    height: 80%;
    overflow: auto;
}

@media screen and (max-width: 576px) {
    .paying {
        background-color: var(--cf-light-color);
        opacity: 1;
        padding: 20px;
        /* display: none; */
        /* right: 3%; */
        border-radius: 10px;
        position: absolute;
        border: 0.5px solid var(--cf-grey-icon-color);
        /* border: none; */
        width: 100% !important;
        z-index: 1;
        left: 2%;
        /* right: 30px; */
        top: 10%;
        height: 80%;
        overflow: auto;

    }
}

@media screen and (max-width: 992px) {
    .paying {
        background-color: var(--cf-light-color);
        opacity: 1;
        padding: 20px;
        /* display: none; */
        /* right: 3%; */
        border-radius: 10px;
        position: absolute;
        border: 0.5px solid var(--cf-grey-icon-color);
        /* border: none; */
        width: 100% !important;
        z-index: 1;
        left: 2%;
        /* right: 30px; */
        top: 10%;
        height: 80%;
        overflow: auto;

    }
}

.bank {
    text-decoration: none;
    font-family: 'anjoman';
    color: var(--cf-green-color)
}

.bank:hover {
    color: var(--cf-green-color);
}

.fish {
    color: var(--cf-green-color);
    font-family: 'anjoman';
    text-decoration: none;
    display: block;
    /* text-align: end; */
}

.fish:hover {
    color: var(--cf-green-color);
}

.payiin-border {
    border: 0.5px solid var(--cf-light-grey);
    width: 25%;
}

.txtpay {
    text-decoration: none;
    font-size: 14px;
    color: var(--cf-title-color);
}

.txtpay:hover {
    color: var(--cf-title-color);
}

.border-modal {
    border: 0.5px solid var(--cf-grey-icon-color);
}

.own-buying {
    position: relative;
    top: 20px;
    min-height: 110px;
    max-height: 1100px;
    right: 5%;
    /* background-color: var(--cf-light-grey); */
    border: 1px solid var(--cf-navicon-color);
    border-radius: 10px;
}

.pardakht {
    position: relative;
    /* top: 80px; */
    width: 100%;
}

.btn-secondary {
    /* position: absolute; */
    /* margin-right: 30%; */
    /* top: 90%; */
    /* left: 10%; */
    background-color: var(--cf-green-color);
    border: 1px solid var(--cf-navicon-color);
    color: var(--cf-light-color);
}

.txte {
    margin: 20px;
}

.exit {
    color: var(--cf-dark-color);
}

.card-title {
    position: relative;
    text-align: center;

}

/* end bylicenc */

#closeicon {
    position: absolute;
    display: block;
    text-align: start;
    justify-content: start;
    left: 95%;
}

@media screen and (max-width: 992px) {
    #closeicon {
        position: absolute;
        left: 0;

    }
}

.form {
    position: relative;
    display: inline-block;
    top: 12px;
    /* left: 40px; */
}

.form input {
    position: relative;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid var(--cf-grey-icon-color);
}

.text-add button {
    position: relative;
    bottom: 5px;
    float: right;
}

.text-minez button {
    position: relative;
    bottom: 5px;
    float: left;

}

.txttt {
    position: relative;
    left: 30%;
    text-align: start;
}

.linkss {
    text-decoration: none;
}

.fa-address-book {
    color: var(--cf-dark-color)
}

.box-title:hover {
    border: 2px solid var(--cf-green-color);
}

.daftar-modal {
    background-color: var(--cf-light-color);
    /* opacity: 1; */
    z-index: 11111;
    border-radius: 10px;
    height: 70%;
    padding: 20px;
    right: 25%;
    overflow: scroll;
    height: 70vh;
    position: fixed;
    border: 1px solid var(--cf-grey-icon-color);
    width: 50% !important;
}

@media screen and (max-width: 992px) {
    .daftar-modal {
        background-color: var(--cf-light-color);
        /* opacity: 1; */
        z-index: 11111;
        border-radius: 10px;
        height: 70%;
        padding: 20px;
        left: 0%;

        position: fixed;
        border: 1px solid var(--cf-grey-icon-color);
        width: 100% !important;
    }
}

.border-left {
    border-left: 1px solid var(--cf-grey-icon-color);
    height: 100vi;
    position: relative;
    top: 25px;

}
.top-line{
    position: relative;
    width: 100%;
    top: 72px;
    border: 1px solid var(--cf-grey-icon-color);
}

#khoroj {
    color: var(--cf-dark-color);
}

#korojtxt {
    color: var(--cf-dark-color);
    font-family: 'anjoman';
}

.fa-home {
    position: relative;
    display: block;
    float: left;
}

.toppingTile a {
    color: var(--cf-dark-color);
}

#outlinbuttons {
    padding: 10px;
    position: relative;
    left: 20%;
    border-radius: 10px;
    border: 1px solid var(--cf-green-color);
}