@font-face {
    font-family: anjoman;
    src: url(../font/AnjomanMax-Bold.ttf);
}

@font-face {
    font-family: anjomanLight;
    src: url(../font/AnjomanMax-Light.ttf);
}


@font-face {
    font-family: anjomanReqular;
    src: url(../font/AnjomanMax-Regular.ttf);
}

@font-face {
    font-family: anjomanWebBold;
    src: url(../font/AnjomanMax-CnBold.woff);
}

@font-face {
    font-family: anjomanWebFat;
    src: url(../font/AnjomanMax-CnFat.woff);
}

@font-face {
    font-family: anjomanWebLight;
    src: url(../font/AnjomanMax-CnLight.woff);
}

@font-face {
    font-family: anjomanWebThin;
    src: url(../font/AnjomanMax-Thin.woff);
}

:root {
    --cf-dark-color: #25282b;
    --cf-light-color: #dedede;
    --cf-light-grey: #7a7a7a;
    --cf-title-color: #141414;
    --cf-subtitle-color: #484848;
    --cf-green-color: #197C82;
    --cf-grey-icon-color: #F1F1F1;
    --cf-navicon-color: #808487;
}

* {
    transition: all ease-in-out 0.3s;
}

body {
    font-family: anjomanWebBold, sans-serif !important;
    font-weight: bold;
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}

::-webkit-scrollbar {
    display: none;
}

p{
    font-family: anjomanLight, sans-serif !important;
}

.nav {
    background-color: #ffffff;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #DADADA;
    height: auto;
    z-index: 10000;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #666777;
    font-weight: 500;
}

.nav-link:hover {
    color: #666777;
}

#my-input {
    font-family: anjomanReqular !important;
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}

.disable {
    filter: blur(4px);

}

.disable-after {
    content: 'غیر فعال می باشد';
    position: absolute;
    top: 30%;
    font-size: 30px;
    font-family: anjoman;
}

.location {

    text-decoration: none;
    font-family: anjomanWebBold, sans-serif;
    font-size: 15px;
    width: 59%;
    color: #7a7a7a;
    padding: 15px;
}

.profLink {
    margin: 10px 0;
}

.profLink a {
    background: #197C82;
    padding: 10px;
    border-radius: 10px;
}

.border-fixed {
    margin: 0 auto;
    position: fixed;
    right: 50%;
    top: 40vh;
}

.addNotice {
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(255 255 255);
    cursor: pointer;
    background: #197c82;
    float: left;
    padding: 5px 10px;
    border-radius: 10px;

}

.addNotice:hover {
    color: var(--cf-light-color);
    background-color: var(--cf-green-color);
}

.addNotice:hover #tooltiptext {
    background: #dfdfdf;
    color: #197c82;
    visibility: visible;
    opacity: 1;
    top: -130;
}

/* #tooltiptext {
    position: absolute;
    width: 7%;
    left: 16%;
    top: 24px;
    transform: translateX(-50%);
    background-color: #197C82;
    padding: 5px 10px;
    border-radius: 7px;
    color: #FFF;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
} */


.disabled {
    opacity: 0.3;
    cursor: help;
}

.form-text {}

.navMenu {
    margin-top: 10px;
    padding: 5px 0 0 0;
    /* border-top: 1px solid #DADADA; */
}

.navMenu ul {
    list-style: none;
    padding: 0rem !important;
    margin: 0rem !important;
}

.navMenu ul li {
    display: inline-block;
    list-style: none;

}

.switchBox {
    display: flex;
}

.switchItem {
    margin: 0 10px;
}

.location:hover {
    background-color: #F1EFEF;
}

.hr-blurry {}

#navBTN {
    text-decoration: none;
    font-family: anjoman, sans-serif;
    font-weight: bold;
    color: var(--cf-dark-color);
}

.search-icon {
    position: absolute;
    top: 5px;
    right: 4px;
}

.sort-box h6 {
    position: relative;
    top: 4px;
    font-size: 14px;
}

.sort-box ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.sort-box ul li {
    display: inline-block;
}

.sort-box ul li a {
    position: relative;
    text-decoration: none;
    margin: 10px;
    color: #7a7a7a;
    font-size: 14px;
    top: 0px;
}


#info1 {
    font-family: anjoman, sans-serif;
    font-size: 15px;

}

#info1:hover {
    background-color: var(--cf-light-color);
}

#info2 {
    font-family: anjoman, sans-serif;
    font-size: 15px;
}

#info2:hover {
    background-color: var(--cf-light-color);
}

#info3 {
    font-family: anjoman, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    width: 100%;
}

.titleNotice h4 {
    font-size: 20px;
    color: #25282b !important;
    ;
}

.box-notice {
    padding: 5px;
    border: 1px solid var(--color-neutral-100);
}

.box-notice:hover {
    box-shadow: 0px 0px 6px 1px #a5a5a5;
}

#info3:hover {
    /* background-color: red; */

}

.text-section {
    font-family: anjoman;
    text-align: start;
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 500;
    padding: 0;
}

.text-section div {
    /* padding: 0; */
}

.content {
    margin: 10px auto;
    padding: 5px;
}

.box-content {
    padding: 10px;
    border: 1px solid #DADADA;
    border-radius: 15px;
    margin: 10px 0;
    min-height: 100px;
}

.bag-icon img {
    position: relative;
    right: 20px;
}

.img-box .img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* .spinner-border{
    width: 20px;
    height: 20px;
    color: var(--cf-title-color);
} */
.spinner-border-background {
    position: fixed;
    top: 0px;
    left: 0%;
    background: transparent;
    /* color: black; */
    height: 100vh;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.spinner-border-background-index {
    position: fixed;
    background: #535353a2;
    top: 86px;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.spinner-border-background-index div {
    position: absolute;
    left: 60%;
    height: 80px;
    width: 80px;
}

.loader-search {
    width: 20px;
    height: 20px;
    border: 2px solid var(--cf-title-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.descktop-office-title {
    font-size: 18px;
    margin: 0px 10px;
}

.descktop-office:hover {
    box-shadow: 0px 0px 6px 1px #a5a5a5;
    border-radius: 5px;
    height: 40%;
}

.descktop-office {
    margin-top: 25px;
    height: 120px;
}

.btn-right button {
    margin: 0 50%;
}

.numberCount {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    top: 5px;
    border: 1px solid #dadada;
}

.descktop-office-matter {
    font-size: 14px;
    margin-right: 10px;
    color: #5a5a5a;
}

.mobile-img-box .img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.descktop-img-box .img {
    width: 100px;
    height: 100px;
    min-height: 100px;
    max-height: 150px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.filterCanvas {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: 222222222;
    overflow: scroll;
    height: 100%;
    /* top: 100vh; */
    left: 0;
    bottom: -100vh;
    padding: 15px 20px;
    border-radius: 15px;

}

.ontap {
    text-decoration: none;
}

.categoryCanvas {
    position: fixed;
    background: rgb(255, 255, 255);
    /* width: 100%; */
    bottom: 100px;
    overflow: scroll;
    height: 100vh;
    margin: 5px;
    right: 0%;
    top: -10px;
    padding: 10px;
    z-index: 222222222;
    border-radius: 15px;
    left: 100%;
}

.closeFilter {
    position: sticky;
    float: left;
    left: 2%;
    top: 10px;
    z-index: 99999999;
    cursor: pointer;
}

.closeFilterr {
    position: sticky;
    float: left;
    left: 2%;
    top: 0px;
    z-index: 99999999;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .category-box {
        box-shadow: 0px 1px 2px 0.5px #10182806;
        border: 1px solid #fbfbfb;
        border-radius: 10px;
        margin: 6px;
        /* width: 90%; */
        font-size: 16px;
        padding: 7px 10px;
        background: white;
        color: #52575c !important;
    }
}

.count-cart {
    top: auto !important;
}

.mobile-notice-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--cf-dark-color);
}

.ontapp:hover {
    color: var(--cf-dark-color);
}

.nav-link {
    cursor: pointer;
}

.mobile-section {
    font-size: 12px;
    font-family: 'anjoman';
    color: var(--cf-title-color);
    font-weight: 500;
    /* padding: 0 !important; */
}

.backCat {
    position: relative;
    top: 1px;
    cursor: pointer;
    font-size: 14px;
}

.backCat:hover {
    color: #F15959;
}

.categoryBox {
    margin: 10px;
    width: 100%;
    padding: 0;
}

.filter-box {
    background: #f1f1f1;
    position: relative;
    right: 5%;
    border: 1px solid #e1e1e1;
    border-radius: 10px 20px;
}

.categoryBox li {
    width: 100%;
    padding: 7px 0;
    /* margin-right: 20px; */
    list-style: none;
    cursor: pointer;
}

.categoryBox li a {
    font-family: anjomanLight !important;
    text-decoration: none;
    font-size: 1rem !important;
}

.categoryBox li a:hover {
    color: #F15959;

}

.category-box {
    box-shadow: 0px 1px 2px 0.5px #10182806;
    border: 1px solid #fbfbfb;
    border-radius: 10px;
    margin: 6px;
    /* width: 100%; */
    font-size: 16px;
    padding: 7px 10px;
    background: white;
    color: #52575c !important;

}


.filter-Title {
    font-family: anjomanLight !important;
    margin: 5px;
    color: #52575c !important;
    font-size: 1 rem !important;
}

.category-box-sort {
    margin: 5px;
    width: 100%;
    box-shadow: 0px 1px 2px 0.5px #10182806;
    border: 1px solid #fbfbfb;
    border-radius: 10px;
    padding: 7px 10px;
    background: white;
    margin: 8px;
}

.margin-fix {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.category-title {
    position: relative;
    top: 5px;
    font-size: 16px;
    color: #52575c;
}

.menu {
    box-shadow: 0px 0px 1.7px 0.5px #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    transition: all 300ms ease 0s;
    /* border-left: 1px solid #DADADA; */
    margin: 10px 0;
    padding: 10px;
    /* border-left: 1px solid #DADADA; */
}

.card {
    /* background-color: #666777; */
    /* width: 500px; */
    /* height: 200px; */
    /* position: absolute; */
    /* display: none; */
    /* top: 20px; */
    /* margin-top: 50px; */
}

.pointer {
    float: left;
    cursor: pointer;
}

.textPink li a:hover {
    color: #F15959;
}

#card1 {
    /* width: 400px; */
    height: 200px;
    background-color: transparent;
    margin-top: 60px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-light-grey);
}

#moving {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {

    text-decoration: none;
    color: var(--cf-light-grey);
    margin: 25px;
    font-family: anjoman, sans-serif;

}

.link:hover {
    color: var(--cf-dark-color);
}

.title a {
    text-decoration: none;
    margin: 10px;
    color: var(--cf-light-grey);
    font-family: anjoman, sans-serif;
}

.title a:hover {
    color: var(--cf-dark-color);
}

.icons a {

    color: var(--cf-light-grey);

}

.icons a:hover {
    color: var(--cf-dark-color);
}



.header {
    height: auto;
}

.logo {}

.logo:hover {
    color: var(--cf-light-grey);
}

.line {
    width: 1px;
    height: 100%;
    background: #DADADA;
    float: right;
}


[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline !important;
    margin-left: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-group {
    font-family: 'anjoman';
    color: var(--cf-light-grey);
    font-size: 18;
}


/*  for Single Page   */

.mainPage {
    text-align: right;
    margin: 17%;
}

.mainPage a {
    font-size: 25px;
    text-decoration: none;
    font-family: 'anjoman';
    color: var(--cf-dark-color);
}

.mainPage h {
    font-size: 15px;
    text-decoration: none;
    font-family: 'anjoman';
    color: var(--cf-light-grey);
}


#seconfButton {
    color: var(--cf-light-grey);
    font-family: 'anjoman';
    font-size: 15px;
}

.btn:hover {
    color: var(--cf-light-grey);
}

#btn1 {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-family: 'anjoman';
    /* background-color: #7a7a7a; */
}

#thirdbtn {
    /* width: 150%; */
    color: var(--cf-dark-color);
    font-family: 'anjoman';
    width: 100%;
}

.btn-outline-dark:hover {
    color: black;
    background-color: var(--cf-light-color);
    border-color: var(--cf-light-grey);
}

#info8 {
    /* width: 150%; */
    color: var(--cf-light-color);
    font-family: 'anjoman';
    width: 100%;
}

.btnStyle {
    color: black;
    font-family: 'anjoman';
    font-size: 17px;
}

.Main2 {
    text-align: right;
    margin: 17%;
}

.img-fluid {
    border-radius: 5px;
}

.col-2 {
    border-radius: 15px;
}

.col-2:hover {
    opacity: 0.5;
}

.card-body {
    color: var(--cf-light-grey);
    font-family: 'anjoman';
}

.under {
    text-decoration: none;
    color: var(--cf-light-grey);
    font-family: 'anjoman';
    font-size: 15px;
}

#txt {
    color: var(--cf-light-grey);
    font-size: 15px;
    font-family: 'anjoman';
    text-decoration: none;
}

#txt:hover {
    color: #666777;
}

#end {
    text-align: center;
    /* margin: 17%; */
    margin-bottom: 20px;
}

.endText {
    color: var(--cf-light-grey);
    font-size: 10px;
    font-family: 'anjoman';
    text-decoration: none;
}

.endText:hover {
    color: #666777;
}

.homenger {
    color: var(--cf-light-grey);
    font-size: 14;
    font-family: 'anjoman';
    text-decoration: none;
}

.homenger:hover {
    color: #666777;
}

.iconss {
    color: var(--cf-light-grey);
}

.iconss:hover {
    color: #1b1b1b;
}

.vl {
    border-left: 1px solid grey;
    height: 50px;
}

select {
    word-wrap: normal;
    position: relative;
    left: 2%;
    width: 100%;
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-size: 16px;
    color: #52575c !important;
    font-family: anjomanReqular;
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}

input.checkBox {
    width: 15px;
    margin: 0 10px;
    height: 15px;
}

/* spinnner  */

.spanner {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 10000000000;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show {
    visibility: visible;
}

.spanner,
.overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show,
.overlay.show {
    opacity: 1
}







.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/_next/static/media/ajax-loader.27a4fa2b.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/_next/static/media/slick.46d90cc9.eot);
    src: url(/_next/static/media/slick.46d90cc9.eot) format("embedded-opentype"), url(/_next/static/media/slick.d9b05b3d.woff) format("woff"), url(/_next/static/media/slick.b15bc5b3.ttf) format("truetype"), url(/_next/static/media/slick.12f7f782.svg) format("svg")
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,
.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.cursor-pointer {
    cursor: pointer !important;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    transform: rotate(3deg) translateY(-4px)
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}

.spinner-btn {
    height: 20px;
    width: 20px;
    margin-top: 0 px !important;
}

.pay-cart {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.wallettxt.active {
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0px 0px 3px 3px #e7e7e7;
}

.addresses {
    overflow: scroll;
    max-height: 350px;
}

.pay-cart.active {
    background: rgb(4, 148, 4);
    color: white;
}

.pay-cart.active2 {
    border: rgb(4, 148, 4) 1px solid;
    color: white;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-color: #29d transparent transparent #29d;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}


.form-control {
    text-align: end;
    border-radius: 10px !important;
    unicode-bidi: plaintext;
    font-family: Vazir !important;
}

.input {
    float: left;
}

.ontapp {
    text-decoration: none;
    color: var(--cf-dark-color);
}

/* inpute range */

.range-slider {
    /* right: 5%; */
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.range-input {
    position: relative;
}

.form-number {
    padding: 5px;
}

.labalMetr {
    position: relative;
    z-index: 11;
    top: -32px;
    left: -60px;
    font-family: anjomanLight;
    color: #5a5a5a;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -1px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-left: 10px;
}

.range-price label {
    margin-right: 5px;
}

.range-price input {
    width: 40px;
    padding: 5px;
}

.range-price input:first-of-type {
    margin-right: 15px;
}

.data-box {
    font-size: 14px;
}

.btn-default {
    background: #197c82;
    border: 0;
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

.fixedCat {
    position: fixed;
    overflow: scroll;
    top: 100px;
    width: 24%;
    height: 90vh;
}

.fixedCat2 {
    position: fixed;
    overflow: scroll;
    top: 100px;
    width: 33%;
    height: 90vh;
}


.fixedMap {
    position: fixed;
    overflow: scroll;
    top: 0;
    width: 32%;
    height: 90vh;
}

.relativeMap {
    position: unset;
    overflow: scroll;
    height: 100vh;
}

.relativeCat {
    position: unset;
    overflow: scroll;
    /* height: 100vh; */
}

.hideMapBox {
    display: none;
    transition: all ease-in-out .3s;
    z-index: 999;
}

.showMapBox {
    display: flex;
    flex: 33.33;
}

.row {
    /* margin-left: 0 !important;
  margin-right: 0 !important; */
}

.error {
    background-color: rgb(238, 13, 13) !important;
    border-left: 8px solid rgb(185, 14, 14) !important;
    color: white;
}

.light {
    background-color: rgb(221, 221, 221) !important;
    border-left: 8px solid rgb(61, 61, 61) !important;
    color: rgb(0, 0, 0);
}


.warning {
    background-color: rgba(223, 219, 15, 0.993) !important;
    border-left: 8px solid rgb(196, 193, 15) !important;
    color: rgb(48, 48, 48);
}

.closeNotife {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.stickyStyle {
    position: sticky;
    overflow: scroll;
    top: 80px;
    width: 100%;
    height: 70vh;
    margin: 10px;
}

.count-cart {
    position: absolute;
    background: #df0a0a;
    border-radius: 50%;
    text-align: center;
    z-index: 1111;
    top: 10px;
    width: 20px;
    height: 20px;
    color: white !important;
}

.mob-stickyStyle {
    position: sticky;
    left: 0;
    margin-right: -15px !important;
    width: 108%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 10vh;
    overflow: hidden;
}

.tab-txts{
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
    font-size: 16px;
}
.tab-txts:hover{
    color: var(--cf-dark-color);
}
.closeBox {
    overflow: hidden;
    height: 0px !important;
}

.openBox {
    height: auto !important;
}

.btn-cus {
    border: none;
    border-radius: 15px;
    width: 100%;
    background: #197c82;
}

.filter-icon {
    position: absolute;
    left: 5px;
    top: 7px;
}

.form-style {
    border: 1px solid #DADADA;
}




/* switch style */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* end switch style  */



.tab_box {
    width: 90%;
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: var(--neutral-g6, #F1F1F1);
    position: relative;
    margin: 0 auto;
    max-height: 43px;
    /* flex-shrink: 0; */
}

.tabItem {
    text-decoration: none;
    color: var(--cf-title-color);
    border-radius: 15px;
    z-index: 9;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.tabItem:hover {
    color: var(--cf-title-color);
}

.tabItem.active {
    color: white !important;
}

.activeItem {
    background: #197c82;
    border-radius: 10px;
    width: 50%;
    height: 32px;
    top: 6px;
    /* left: 10px; */
    right: 0%;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.menuToggle {
    padding: 0;
}

.navbutton {
    position: relative;
    background-color: var(--cf-grey-icon-color);
    width: 55px;
    height: 50px;
    margin-right: 40%;
    border-radius: 10px;
}

.navbutton img {
    position: relative;
    margin-left: 20px;
    /* margin-top: 12px; */
}

.navbar-toggler {
    margin-left: 20px;
    margin-top: 5px;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%);
}

.more {
    /* margin-left: 10%; */
    justify-content: center;
    width: 30px;
    height: 30px;
}

.Shop {
    background-color: var(--cf-grey-icon-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.Shop img {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
}


.filter {
    margin-right: 12%;
}

.filter a {
    text-decoration: none;
    color: var(--cf-subtitle-color);
    font-family: 'anjoman';
}

/* for filter */
.navbar-togglerr {
    position: fixed;
    top: auto;
    right: auto;
    left: auto;
    width: 400px;
    height: 500px;
    margin-left: 80px;
    border-radius: 10px;
    bottom: 0px;
    transform: translateY(100%);
}

.navbar-togglerr {
    border: none;
    background-color: transparent;
}

.navbar-togglerr a {
    text-decoration: none;
    color: var(--cf-dark-color);
    font-family: 'anjoman';
}

.form-control::before {
    border: none;
    width: 100%;
}




.categoryButton {
    background-color: var(--cf-grey-icon-color);
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    border-radius: 10px;
    align-items: flex-start;
    float: left;
    gap: 10px;
}


.cards {
    margin-left: 30%;
}

#card1 {
    background-color: transparent;
    width: 500px;
    height: 145px;
    margin-top: 20px;
    margin-right: 10%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--cf-grey-icon-color);
}

@media screen and (max-width: 992px) {
    #card1 {
        width: 385px;
        height: 145px;
        /* display: block; */
        /* margin-bottom: 20px; */
    }
}

.Title {
    text-decoration: none;
    font-size: medium;
    color: var(--cf-title-color);
    font-family: 'anjoman';
}

.Title:hover {
    color: var(--cf-dark-color);
}

.Subtitle {
    color: var(--cf-subtitle-color);
    font-family: 'anjoman';
    font-size: 14px;
    font-weight: 400;
}

.border {
    display: flex;
    /* align-items: flex-start; */
    width: 10px;
    gap: 113px;
}

.adress {
    cursor: pointer;
}

.modal-body {
    height: 60vh;
    overflow: scroll;
}

.error {
    margin-top: 20px;
}

.box-address {
    background: #f3f3f3;
    margin-top: 10px;
    padding: 10px;
}

.adress:hover {
    /* border: #30ced7 2px solid; */
    box-shadow: 0px 0px 1px 1px #DADADA;
}

.borderSuccess {
    border: #1ca1a8 2px solid;
    color: #2bbdc5;
    box-shadow: 0px 0px 1px 1px;
}

.line {
    border: 1px solid var(--neutral-g6, #F1F1F1);
    display: flex;

}


/* this is foe bottomNavigation bar */

.navbar {

    justify-content: space-evenly;
    background-color: rgb(246, 246, 246);
    height: 60px;
    width: 100%;
    position: fixed;
    overflow: inherit;
    right: 0;
    bottom: 0px;
}

.list-item {
    flex-basis: 10%;
    min-height: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 6px;
    position: relative;
    color: var(--cf-dark-color);
    /* transform: translateY(0); */
    /* cursor: pointer; */
}

.prson {
    background-color: transparent;
}

.prson.active {
    background: #197C82 !important;
}

.search-cat {
    background: var(--cf-grey-icon-color);
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: #212529;

}

.searchResult {
    background: var(--cf-light-color);
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 250px;
    top: 40px;
    border-radius: 25px;
    padding: 15px;
    color: #434343;
    box-shadow: 0px 0px 10px 2px #faf7f7;
    overflow-y: scroll;
    display: none;
    z-index: 111111111;
}

.searchLoader {
    position: absolute;
    color: var(--cf-title-color);
    left: 5px;
    top: 5px;
}

/* .loaderrr {
    width: 28px;
    height: 28px;
    border-radius: 50%;
   
    border-top: 3px solid var(--cf-title-color);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  */
.list-item a {
    color: var(--cf-navicon-color);
    text-decoration: none;
    font-family: 'anjoman';
}

.list-item .homeIcon {
    color: var(--cf-green-color);
    text-decoration: none;
    font-family: 'anjoman';
    font-size: 12px;
}

.txtIcons {
    color: var(--cf-title-color);
    text-decoration: none;
    font-family: 'anjoman';
    font-size: 12px;
}

.navigationbtn {
    position: absolute;
    width: 100%;
    /* height: 100%; */
}

.circle {
    padding: 2%;
    background-color: var(--cf-green-color);
    border: none;
    position: fixed;
    width: 70px;
    bottom: 30px;
    border-radius: 50%;
    border: 4px solid var(--cf-light-color);
    height: 70px;
}

.Maptext {
    color: var(--cf-light-color);
    position: relative;
    top: 8px;
    right: 1px;
}

.prson {
    border: none;

}

.descktop-office-txt {
    font-size: 12px;
    color: var(--cf-title-color);
}

.img-daftar {
    float: left;
}

.mob-nav {
    background: white;
    position: relative;
    right: 4%;
}

.search-box {
    padding: 15px;
    position: sticky;
    margin: 10px 0;
    /* height: 170px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    overflow-y: visible;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.mob-map {
    height: 70px ;
    overflow: hidden;
}

.showMap {
    top: 0px;
    /* position: absolute !important; */
    height: 100vh !important;
    z-index: 22222222;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.box-office-img {
    border: 1px solid #DADADA;
    padding: 40px 40px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.desc-single-office {
    font-size: 14px;
}

.font-samall {
    font-size: 14px;
}

.border-color {
    border: 1px solid #DADADA;
    border-radius: 15px;
    padding: 10px;
}

.image-cart {
    border: 1px solid #dadada;
    padding: 15px;
    margin: 0 20px;
}


.box-similer { 
    /* height:500px;
    overflow: scroll; */

}

.closeCart {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
}

/*  shoping cart */

/* 
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}

 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
} */